.b {
  color: rgba(0, 0, 0, 0.438);
 
}
.l{
  display:flex;
  margin-left: 25px;
}
.R{
  display: inline;
  margin-top: 100px;
  margin-left: -288px;
}
.RR{
  display: inline;
  margin-top: 100px;
  margin-left: -288px;
}
.AA{
 margin-left: -65px;

}
.c{
  margin-left: -66px;
}
.D{
  margin-left: 187px;
  margin-top: -23px;
}


.btnstyle{
  margin-left: 25px;
}
